# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE/editor files
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Distribution / build
build/
dist/
*.egg-info/

# Logs
*.log
